<div class="full-height container-fluid pt-5 bg-secondary">
  <div class="container text-light">
    <h1>About Me</h1>
    <p>
      Hello! I'm Jake Dundas, a versatile software engineer with a
      specialization in web development and data science. I'm a recent graduate
      of Griffith University, where I was honored with the Griffith Award for
      Academic Excellence in 2023.
    </p>

    <p>
      Throughout my academic journey, I've worked on several noteworthy projects
      that demonstrate my abilities and passion for software engineering. My two
      key projects include a real-time chat system developed using Node.js,
      Angular, and sockets. This complex system supported various user roles and
      permissions, allowing users to communicate in groups and channels, with
      chat history stored in MongoDB. I also spearheaded the development of a
      Laravel-based food ordering platform, equipped with functionalities like
      user registration, dish listing, order placement, and a state-of-the-art
      recommendation system.
    </p>

    <p>
      While I enjoy the technical rigor of my work, I also firmly believe in the
      power of curiosity and continuous learning, which are the driving forces
      behind my career goals. I pride myself on my attention to detail,
      performance and efficiency, adaptability, and strong communication skills,
      which I believe are vital for successful collaboration in any team.
    </p>

    <p>
      When I'm not crafting code or exploring new tech trends, I'm likely at the
      gym staying active or engrossed in a challenging board game. Just like in
      my professional life, I'm always looking for ways to learn, grow, and
      enhance my game, both on the fitness floor and the game board.
    </p>

    <p>
      As I embark on my professional journey, I look forward to opportunities
      where I can apply my skills, learn new ones, and make a positive impact
      through my work.
    </p>
  </div>
</div>
